# Any directory in the build subdirectory under all directories is ignored
**/build/*/

# images, models, etc
assets/

# IDE generated folder
.vscode/settings.json
.idea/
cmake-build-debug/

# c/c++ object files
*.out.dSYM
*.o
*.out

# python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# tex
*.aux
*.log
*.synctex.gz
*.toc

# log files
build/log.txt

# clangd cache
**/.cache/

.gdb_history

build/*.png
build/*.txt

.xmake/